<div class="city-search-header">
  <h3 class="city-search-title">SEARCH CITIES</h3>
  <div class="search-city-input-wrapper">
    <input class="search-city-input" matInput placeholder="search city" [(ngModel)]="selectedCity"
      [formControl]="cityControl" [matAutocomplete]="auto" #input />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let city of cities$ | async" [value]="city.LocalizedName" (click)="selectCity(city)">
        {{city.LocalizedName}} - ({{city.Country.LocalizedName}})
      </mat-option>
    </mat-autocomplete>
  </div>
  <span class="city-search-hr"></span>
</div>