<!-- Slide Menu-->
<main class="root__container">
    <header class="main__header">
        <div class="left__section">
            <mat-button-toggle-group style="width:50vh; margin:1%">
                <mat-button-toggle  style="width:100%" routerLink="/home">Home</mat-button-toggle>
                <mat-button-toggle  style="width:100%" routerLink="/favorites">Favorites</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="mode-toggle__container">
            <span class="mode-toggle__text">Light</span>

            <label class="toggle-button__container">
                <input (click)="modeToggleSwitch()" type="checkbox" class="mode-toggle__input" />
                <span class="mode-toggle__bg"></span>
                <span class="mode-toggle__circle"></span>
            </label>
            <span class="mode-toggle__text">Dark</span>
        </div>
    </header>
    <div class="main-container__bg">
        <router-outlet></router-outlet>
    </div>
</main>