<section class="weather__card">
    <mat-icon (click)="deleteFavorite()">favorite</mat-icon>

    <span class="city-name__text">{{city.LocalizedName}}</span>
    <div class="weather-icon__container">
        <svg viewBox="2050 -845 262 262">
            <circle cx="131" cy="131" r="131" fill="#ffde17" data-name="Sun Icon" transform="translate(2050 -845)" />
        </svg>
    </div>
    <div class="temperature-text__container">
        <span class="temperature-metric__text">{{ city.Temperature?.Metric?.Value }}°</span>
        <span class="weather-condition__text">{{ city.WeatherText}}</span>
    </div>
</section>